

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
}

.card-cadastro {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formulario {
    width: 90%;
    max-width: 1300px;
    display: flex;
    background-color: white;
}



#esquerda img {
    width: 500px;
    height: 100%;
    object-fit: cover;
}



.formulario > span {
    font-size: 36px;
    font-weight: bold;
    color: #b14d1e;
    margin-left: 40px;
    margin-top: 40px;
}



#direta {
    display: flex;
    flex-direction: column;
    padding: 40px 60px;
    width: 100%;
}



.campo {
    display: flex;
    flex-direction: column;
    margin-bottom: 28px;
}

.campo span {
    text-transform: uppercase;
    font-weight: bold;
    color: #b14d1e;
    font-size: 20px;
    margin-bottom: 6px;
}

.campo input {
    width: 95%;
    padding: 15px;
    border: none;
    background: #f4f4f4;
    border-bottom: 3px solid #ff7a29;
    border-radius: 4px;
    font-size: 17px;
}



.botao {
    margin-top: 10px;
    padding: 14px 0;
    width: 60%;
    align-self: center;     
    font-size: 22px;
    font-weight: bold;
    color: #b14d1e;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.botao:hover {
    color: #ff7a29;
}



.links-abaixo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}

.links-abaixo a {
    justify-content: space-between;
    display: flex;
    align-items: center;
}   

.links-abaixo a:hover {
    color: #ff7a29;
}
