body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow: scroll; 
    
}


.card-cadastro {
    width: 100vw;
    height: 100vh;
    display: flex;
}


.formulario {
    width: 100%;
    display: flex;
    margin-top: 3%;
    
    
}


#esquerda {
    width: 45%;
}

#esquerda img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: -10px;
   
    
}

.campo {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    margin-left: 10%;
}

.campo span {
    text-transform: uppercase;
    font-weight: bold;
    color: #b14d1e;
    font-size: 20px;
    margin-bottom: 6px;
    
}

.campo input {
    width: 300%;
    padding: 15px;
    background: #f4f4f4;
    border: none;
    border-bottom: 3px solid #ff7a29;
    font-size: 17px;
    border-radius: 4px;
}


.botao {
    padding: 14px 0;
    width: 50%;
    align-self: center;
    margin-top: 10px;
    font-size: 22px;
    font-weight: bold;
    color: #b14d1e;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    margin-left: 130%;
    
}

.botao:hover {
    color: #ff7a29;
}


.links-abaixo {
    margin-top: 30px;
    display: flex;
    flex-direction: row;         
    justify-content: space-between; 
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    color: #b14d1e;
    align-items: center;
    margin-left: 100%;
}

.links-abaixo a {
    text-decoration: none;
    color: #b14d1e;
    transition: 0.3s;
}

.links-abaixo a:hover {
    color: #ff7a29;
}
